.dnd-container {
    width: 1200px;
    height: 600px;
    padding: 30px;
    border: 5px solid green;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
}

.dnd-container-child{
    position: absolute;
    width: 600px;
    height: 50%;
    box-sizing: border-box;
    /* padding: 10px; */
    border: 1px solid red;
    /* margin: 20px; */
    left: 300px;
}